*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  min-width: 36rem;
  background-image: radial-gradient(
    farthest-corner circle at 10% 10%,
    #f76a28,
    #eebb12
  );
}
