.credential {
  min-height: 100vh;
  min-width: 100vw;
  height: 1px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: radial-gradient(
    farthest-corner circle at 10% 10%,
    #f76a28,
    #eebb12
  );
  &__form-container {
    width: 60%;
    height: 40rem;
    padding: 2rem 0;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: #eee5e5;
    @include respond(phone) {
      width: 80%;
    }

    overflow: hidden;
    &--left {
      border-top-left-radius: 4rem;
      border-bottom-left-radius: 4rem;
    }
    &--right {
      border-top-right-radius: 4rem;
      border-bottom-right-radius: 4rem;
    }
  }
  &__input__container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  &__title {
    background-color: inherit;
    align-self: flex-end;
    padding: 1rem;
    background-color: #eebb12;
    color: #fff;
  }
  &__input {
    margin: 1rem 0;
    outline: none;
    padding: 1rem;
    width: 80%;
  }
  &__btn {
    outline: none;
    border: none;

    padding: 1.2rem 2.5rem;
    font-weight: 800;
    &--right {
      border-top-left-radius: 3rem;
      border-bottom-left-radius: 3rem;
      align-self: flex-end;
      background-color: #eebb12;
    }
    &--left {
      border-top-right-radius: 3rem;
      border-bottom-right-radius: 3rem;
      align-self: flex-start;
      background-color: #f76a28;
    }
  }
}
